extends ../layouts/adminLayout

block content
    .container-fluid
        h1 Thêm Nhãn hàng mới
        if errors
            for error in errors
                .alert.alert-danger= error
        form(action="/admin/addBrand", method="post", enctype="multipart/form-data")
            .mb-3
                label.form-label(for='name') Tên nhãn hàng
                input#name.form-control(name = 'name')
            .mb-3 
                label(for="logo") Logo
                br
                input(name = "logo", type="file" )
            .mb-3 
                label.form-label(for='description') Mô tả :
                br
                textarea#description.form-control(name="description" ,rows="4", cols="100") 
            button.btn.btn-primary.btn-sm(type ="submit") Lưu