extends ../layouts/adminLayout

block content
    // Begin Page Content
    .container-fluid
        .d-sm-flex.align-items-center.justify-content-between.mb-4
            h1.h3.mb-0.text-gray-800 Dashboard
            a.d-none.d-sm-inline-block.btn.btn-sm.btn-primary.shadow-sm(href='admin/generateReport')
                i.fas.fa-download.fa-sm.text-white-50
                |  Tạo báo cáo 
        // Content Row
        .row
            // Earnings (Monthly) Card Example
            .col-xl-3.col-md-6.mb-4
                .card.border-left-primary.shadow.h-100.py-2
                    .card-body
                        .row.no-gutters.align-items-center
                            .col.mr-2
                                .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1
                                    | Doanh thu (Monthly)
                                .h5.mb-0.font-weight-bold.text-gray-800= earning 
                            .col-auto
                                i.fas.fa-calendar.fa-2x.text-gray-300
            
            // Pending Requests Card Example
            .col-xl-3.col-md-6.mb-4
                .card.border-left-warning.shadow.h-100.py-2
                    .card-body
                        .row.no-gutters.align-items-center
                            .col.mr-2
                                .text-xs.font-weight-bold.text-warning.text-uppercase.mb-1
                                    | Đơn hàng chưa xác nhận 
                                .h5.mb-0.font-weight-bold.text-gray-800= notConfirm
                            .col-auto
                                 i.fas.fa-comments.fa-2x.text-gray-300
        