extends ../layouts/adminLayout

block content
    .container-fluid
        h1 Quản lý danh mục sản phẩm
        a.btn.btn-primary.btn-sm(href = "createProductCategory") Thêm danh mục mới ở đây
        table.table.mt-2.container
                thead
                    tr
                        th(scope='col') Tên
                        th(scope='col') Mô tả
                        th(scope='col') Action
                tbody
                    each productCategory in productCategories
                        tr 
                            td= productCategory.name
                            td= productCategory.description
                            td
                                .action-container
                                    a.btn.btn-info.btn-sm(href ='#')
                                        i.fas.fa-info-circle
                                    form(Action = productCategory.id + "/deleteProductCategory" , method='POST')
                                        button.btn.btn-danger.btn-sm(type='submit')
                                            i.fas.fa-trash-alt
                                    a.btn.btn-warning.btn-sm()
                                        i.fas.fa-edit
        if pageArray
            ul.pagination  
                each page in pageArray
                    if parseInt(page) == parseInt(recentPage)
                        li.page-item.active
                            a.page-link(href=currentURL + '?page='+ page)= page
                    else
                        li.page-item
                            a.page-link(href=currentURL + '?page='+ page)= page 
                                    