doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')
        title SB Admin 2 - Dashboard
        // Custom fonts for this template
        link(href='sbAdmin2/vendor/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
        // Custom styles for this template
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1", crossorigin="anonymous")
        link(href='sbAdmin/css/sb-admin-2.css' rel='stylesheet')
        link(href='sbAdmin/css/singleModule.css' rel='stylesheet')
        link(rel="stylesheet", href="css/admin.css")
        
    body#page-top
        #wrapper
            // Sidebar
            ul#accordionSidebar.navbar-nav.bg-primary.sidebar.sidebar-dark.accordion
                // Sidebar - Brand
                a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/admin')
                    .sidebar-brand-icon.rotate-n-15
                        i.fas.fa-laugh-wink
                    .sidebar-brand-text.mx-3
                        | Admin Manager
                // Divider
                hr.sidebar-divider.my-0
                // Nav Item - Dashboard
                li.nav-item.active
                    a.nav-link(href='/admin')
                        i.fas.fa-fw.fa-tachometer-alt
                        span Dashboard
                // Divider
                hr.sidebar-divider
                li.nav-item.active
                    a.nav-link(href='/admin/adminManager')
                        i.fas.fa-users
                        span  Tài khoản admin
                hr.sidebar-divider
                li.nav-item.active
                    a.nav-link(href='/admin/orderManager')
                        i.fas.fa-receipt
                        span  Đơn hàng
                hr.sidebar-divider
                li.nav-item
                    a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo')
                        i.fas.fa-list-ul
                        span Danh mục sản phẩm
                    #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionSidebar')
                        .bg-white.py-2.collapse-inner.rounded
                            h6.collapse-header Bao gồm
                            a.collapse-item(href='/admin/productCategoryManager') Danh mục lớn
                            a.collapse-item(href='/admin/subProductCategoryManager') Danh mục nhỏ
                li.nav-item.active
                    a.nav-link(href='/admin/brandManager')
                        i.fas.fa-copyright
                        span  Thông tin hãng
                
                li.nav-item.active
                    a.nav-link(href='/admin/productManager')
                        i.fas.fa-guitar
                        span  Sản phẩm
                li.nav-item.active
                    a.nav-link(href='/admin/bannerManager')
                        i.fas.fa-ad
                        span  Banner
                li.nav-item.active
                    a.nav-link(href='/admin/store')
                        i.fas.fa-store
                        span  Cửa hàng
                
                // Divider
                hr.sidebar-divider
                // Heading
                
                .text-center.d-none.d-md-inline
                    button#sidebarToggle.rounded-circle.border-0
                // Sidebar Message
                
            #content-wrapper.d-flex.flex-column
                // Main Content
                #content
                    // Topbar
                    nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
                        // Sidebar Toggle (Topbar)
                        button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
                            i.fa.fa-bars
                        // Topbar Search
                        form.d-none.d-sm-inline-block.form-inline.mr-auto.ml-md-3.my-2.my-md-0.mw-100.navbar-search
                            .input-group
                                input.form-control.bg-light.border-0.small(type='text' placeholder='Search for...' aria-label='Search' aria-describedby='basic-addon2')
                                .input-group-append
                                    button.btn.btn-primary(type='button')
                                        i.fas.fa-search.fa-sm
                        // Topbar Navbar
                        ul.navbar-nav.ml-auto
                            li.nav-item.dropdown.no-arrow.d-sm-none
                                a#searchDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    i.fas.fa-search.fa-fw
                                // Dropdown - Messages
                                .dropdown-menu.dropdown-menu-right.p-3.shadow.animated--grow-in(aria-labelledby='searchDropdown')
                                    form.form-inline.mr-auto.w-100.navbar-search
                                        .input-group
                                            input.form-control.bg-light.border-0.small(type='text' placeholder='Search for...' aria-label='Search' aria-describedby='basic-addon2')
                                        .input-group-append
                                            button.btn.btn-primary(type='button')
                                                i.fas.fa-search.fa-sm
                            li.nav-item.dropdown.no-arrow.mx-1
                                a#alertsDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    i.fas.fa-bell.fa-fw
                                    // Counter - Alerts
                                    span.badge.badge-danger.badge-counter 3+
                                // Dropdown - Alerts
                                .dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='alertsDropdown')
                                    h6.dropdown-header
                                        | Alerts Center
                                    a.dropdown-item.d-flex.align-items-center(href='#')
                                        .mr-3
                                            .icon-circle.bg-primary
                                                i.fas.fa-file-alt.text-white
                                        div
                                            .small.text-gray-500 December 12, 2019
                                            span.font-weight-bold A new monthly report is ready to download!
                                    a.dropdown-item.d-flex.align-items-center(href='#')
                                        .mr-3
                                            .icon-circle.bg-success
                                                i.fas.fa-donate.text-white
                                        div
                                            .small.text-gray-500 December 7, 2019
                                            | $290.29 has been deposited into your account!
                                    a.dropdown-item.d-flex.align-items-center(href='#')
                                        .mr-3
                                            .icon-circle.bg-warning
                                                i.fas.fa-exclamation-triangle.text-white
                                        div
                                            .small.text-gray-500 December 2, 2019
                                            |Spending Alert: We've noticed unusually high spending for your account.
                                    a.dropdown-item.text-center.small.text-gray-500(href='#') Show All Alerts
                            li.nav-item.dropdown.no-arrow.mx-1
                                a#messagesDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    i.fas.fa-envelope.fa-fw
                                    span.badge.badge-danger.badge-counter 7
                                // Dropdown - Messages
                                .dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='messagesDropdown')
                                    h6.dropdown-header
                                        | Message Center
                                    a.dropdown-item.d-flex.align-items-center(href='#')
                                        .dropdown-list-image.mr-3
                                            img.rounded-circle(src='img/undraw_profile_1.svg' alt='')
                                            .status-indicator.bg-success
                                        .font-weight-bold
                                            .text-truncate
                                                | Hi there! I am wondering if you can help me with a
                                                | problem I've been having.
                                            .small.text-gray-500 Emily Fowler · 58m
                                    a.dropdown-item.d-flex.align-items-center(href='#')
                                        .dropdown-list-image.mr-3
                                            img.rounded-circle(src='img/undraw_profile_2.svg' alt='')
                                            .status-indicator
                                        div
                                            .text-truncate
                                                | I have the photos that you ordered last month, how
                                                | would you like them sent to you?
                                            .small.text-gray-500 Jae Chun · 1d
                                    a.dropdown-item.d-flex.align-items-center(href='#')
                                        .dropdown-list-image.mr-3
                                            img.rounded-circle(src='img/undraw_profile_3.svg' alt='')
                                            .status-indicator.bg-warning
                                        div
                                            .text-truncate
                                                | Last month's report looks great, I am very happy with
                                                | the progress so far, keep up the good work!
                                            .small.text-gray-500 Morgan Alvarez · 2d
                                    a.dropdown-item.d-flex.align-items-center(href='#')
                                        .dropdown-list-image.mr-3
                                            img.rounded-circle(src='https://source.unsplash.com/Mv9hjnEUHR4/60x60' alt='')
                                            .status-indicator.bg-success
                                        div
                                            .text-truncate
                                                | Am I a good boy? The reason I ask is because someone
                                                | told me that people say this to all dogs, even if they aren't good...
                                            .small.text-gray-500 Chicken the Dog · 2w
                                    a.dropdown-item.text-center.small.text-gray-500(href='#') Read More Messages
                            .topbar-divider.d-none.d-sm-block
                            li.nav-item.dropdown.no-arrow
                                a#userDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                                    if user
                                        span.mr-2.d-none.d-lg-inline.text-gray-600.small= user.name
                                    img.img-profile.rounded-circle(src= user.avatar)
                                // Dropdown - User Information
                                .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in(aria-labelledby='userDropdown')
                                    a.dropdown-item(href='/admin/'+ user._id + '/detailAdmin')
                                        i.fas.fa-user.fa-sm.fa-fw.mr-2.text-gray-400
                                        |Profile
                                    a.dropdown-item(href='/auth/logout' data-toggle='modal' data-target='#logoutModal')
                                        i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
                                        | Logout
                    // End of Topbar
                    // Begin Page Content
                    block content
                    // /.container-fluid
                    // End of Main Content
                // Footer
                footer.sticky-footer.bg-white
                .container.my-auto
                    .copyright.text-center.my-auto
                        span Copyright © Your Website 2020
            // End of Footer
            // End of Content Wrapper
            // End of Page Wrapper
            // Scroll to Top Button
        a.scroll-to-top.rounded(href='#page-top')
            i.fas.fa-angle-up
        // Logout Modal
        #logoutModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#exampleModalLabel.modal-title Ready to Leave?
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body Select "Logout" below if you are ready to end your current session.
                    .modal-footer
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                        a.btn.btn-primary(href='/auth/logout') Logout
        // Bootstrap core JavaScript
        script(src='sbAdmin2/vendor/jquery/jquery.min.js')
        script(src='sbAdmin2/vendor/bootstrap/js/bootstrap.bundle.min.js')
        // Core plugin JavaScript
        script(src='sbAdmin2/vendor/jquery-easing/jquery.easing.min.js')
        // Custom scripts for all pages
        script(src='sbAdmin2/js/sb-admin-2.js')
        // Page level plugins
        script(src='sbAdmin2/vendor/chart.js/Chart.min.js')
        // Page level custom scripts
        script(src='sbAdmin2/js/demo/chart-area-demo.js')
        script(src='sbAdmin2/js/demo/chart-pie-demo.js')
        script(src="sbAdmin2/js/selectFilter.min.js")
        script(src="js/header.js")
        
