body {
  background-size: cover;
  background-repeat: no-repeat; }
  body .card_link {
    text-decoration: none;
    color: black; }
  body .pro_card {
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid #5e5e5e;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden; }
    body .pro_card:hover {
      box-shadow: 1px 1px 10px rgba(102, 102, 102, 0.5);
      transition: box-shadow 0.5s; }
      body .pro_card:hover .img {
        height: 200px; }
    body .pro_card .card_image {
      background-color: white;
      overflow: hidden;
      position: relative; }
      body .pro_card .card_image img {
        height: 196px;
        margin: auto;
        object-fit: scale-down;
        display: block; }
      body .pro_card .card_image .special {
        position: absolute;
        display: flex;
        right: 0;
        top: 0;
        width: 100%;
        justify-content: space-between; }
        body .pro_card .card_image .special p {
          display: block;
          padding: 0 4px;
          color: white;
          box-shadow: 0px 0px 1px white; }
        body .pro_card .card_image .special p:nth-child(1) {
          background: #21a453;
          border-radius: 0 0 3px; }
        body .pro_card .card_image .special p:nth-child(2) {
          background: red;
          border-radius: 0 0 0 3px; }
    body .pro_card .card_content p.card_name {
      margin: 0px;
      display: block;
      text-align: center;
      font-weight: 500; }
    body .pro_card .card_content a.brand {
      margin: 0px;
      display: block;
      text-align: right;
      padding-right: 5px;
      font-weight: 500;
      text-decoration: none;
      color: #2a36dd; }
    body .pro_card .card_content .price p {
      margin: 0;
      padding: 0 10px 0 10px; }
    body .pro_card .card_content .price .final {
      background-color: white;
      border-radius: 0 10px 0 0px;
      font-weight: 500px;
      color: #fd1a01;
      font-size: larger; }
    body .pro_card .card_content .price .before {
      text-decoration: line-through;
      color: #7a7a7a;
      font-weight: 400; }
    body .pro_card .card_content .add2cart {
      display: flex;
      margin: auto;
      width: 100%; }
      body .pro_card .card_content .add2cart button {
        display: block;
        backdrop-filter: blur(5px);
        border: none;
        padding: 5px;
        width: 90%;
        border: 1px solid #00a2ff;
        color: #0051ff;
        margin: auto;
        transition: width 0.5s;
        outline: none; }
        body .pro_card .card_content .add2cart button:hover {
          background-color: #296cff;
          color: white;
          transition: background-color 0.3s; }
        body .pro_card .card_content .add2cart button:active {
          outline: none;
          background-color: #4433a7; }
