:root {
  --rad: 5px;
  --dur: .3s;
  --color-dark: white;
  --color-light: #aeaeb2  ;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 40px;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49); }

:root {
  --rad: 5px;
  --dur: .3s;
  --color-dark: white;
  --color-light: #aeaeb2  ;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 40px;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49); }

.cardContainer {
  margin-left: 20px; }

.home {
  background: #3f5efb;
  background: linear-gradient(48deg, #3f5efb 0%, #2ee3d8 100%); }
  .home .mt-3.container .brand a.card {
    max-width: 120px; }
    .home .mt-3.container .brand a.card img {
      height: 75px;
      object-fit: contain; }
  .home .mt-3.container .priceRange a.btn-light {
    margin-right: 20px; }
    .home .mt-3.container .priceRange a.btn-light:hover {
      background-color: #ff3b30;
      color: white; }

.category .category-heading {
  background-color: white; }
  .category .category-heading h2 {
    color: #48484a;
    margin-bottom: 0; }

.category .subCategory a {
  display: flex;
  text-decoration: none;
  color: #48484a;
  text-align: center;
  width: 100%;
  border: 0 2px 0 0 solid gray;
  background-color: #c7c7cc;
  border-right: 1px solid darkgray; }

.category .subCategory a.active {
  background-color: white; }

.category .softNPagination {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid darkgray; }
  .category .softNPagination .right {
    display: flex;
    flex: 1;
    flex-direction: row-reverse; }
    .category .softNPagination .right .pagination {
      margin: auto 0;
      max-height: 38px; }
  .category .softNPagination .left {
    display: flex;
    width: 400px; }
    .category .softNPagination .left p {
      margin-bottom: 0; }
    .category .softNPagination .left a {
      margin: 10px; }
      .category .softNPagination .left a:hover {
        background-color: #007aff; }

.brandContainer {
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 200%;
  background-attachment: fixed;
  background-image: url(https://images.unsplash.com/photo-1469939868368-83e00d69432e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80); }
  .brandContainer .container .info {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid white; }
    .brandContainer .container .info p {
      padding: 20px; }
  .brandContainer .container .product {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 62px;
  width: 100%;
  background-color: #48484a; }
  header .container .row .col-md-5.left {
    display: flex;
    padding: 0; }
    header .container .row .col-md-5.left ul {
      margin: 0;
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-around; }
      header .container .row .col-md-5.left ul li a {
        line-height: 50px;
        text-decoration: none;
        color: white; }
  header .container .row .col-md-2 {
    display: flex;
    justify-content: center; }
    header .container .row .col-md-2 .icon_cover {
      display: block; }
  header .container .row .col-md-5.right {
    display: flex;
    margin: auto; }
    header .container .row .col-md-5.right .container .row .col-md-10 {
      display: flex;
      margin: 0;
      height: 35px; }
      header .container .row .col-md-5.right .container .row .col-md-10 .icon {
        width: 100%;
        display: flex;
        color: white;
        position: relative;
        justify-content: center; }
        header .container .row .col-md-5.right .container .row .col-md-10 .icon .gg-search {
          position: absolute;
          opacity: 1;
          top: 11px; }
        header .container .row .col-md-5.right .container .row .col-md-10 .icon .search_form {
          border-radius: 5px;
          display: flex;
          width: 100%;
          display: none; }
          header .container .row .col-md-5.right .container .row .col-md-10 .icon .search_form .search_input {
            padding: 0;
            background-color: transparent;
            color: white;
            outline: none;
            border: none;
            border-top: #97A69C 2px solid;
            border-bottom: #97A69C 2px solid;
            display: block;
            width: 86%;
            margin: auto;
            text-align: center;
            animation: 1s fadeIn;
            animation-fill-mode: forwards; }
          header .container .row .col-md-5.right .container .row .col-md-10 .icon .search_form .btn-gg-cover {
            display: flex;
            width: 28px;
            height: 28px;
            margin: 0px; }
            header .container .row .col-md-5.right .container .row .col-md-10 .icon .search_form .btn-gg-cover .gg-close-o {
              display: block;
              margin: auto; }
            header .container .row .col-md-5.right .container .row .col-md-10 .icon .search_form .btn-gg-cover .gg-arrow-right-o {
              display: block;
              margin: auto; }
    header .container .row .col-md-5.right .container .row .col-md-2 .icon {
      cursor: pointer;
      display: flex;
      margin: auto;
      justify-content: center;
      color: white;
      width: 100%;
      position: relative; }
      header .container .row .col-md-5.right .container .row .col-md-2 .icon::after {
        display: block;
        background-color: rgba(235, 235, 235, 0.932);
        position: absolute;
        right: 10px;
        bottom: -10px;
        border-radius: 100%;
        font-size: smaller;
        color: #0D0D0D;
        height: 20px;
        width: 20px;
        text-align: center; }

footer {
  background-color: #F4F2F1;
  color: #0D0D0D; }
  footer .row {
    margin-top: 10px;
    margin-bottom: 20px; }
    footer .row .col-md-3 {
      display: block; }
      footer .row .col-md-3 span {
        display: block;
        margin: auto;
        width: 100%;
        text-align: center; }
      footer .row .col-md-3 a {
        text-decoration: none;
        color: #0D0D0D;
        font-size: small; }
      footer .row .col-md-3 .col-lg-3 {
        display: flex;
        flex-direction: column; }
        footer .row .col-md-3 .col-lg-3 .icon-cover .gg-youtube {
          display: block;
          background-color: red;
          color: white;
          margin: 5px auto; }
        footer .row .col-md-3 .col-lg-3 .icon-cover .gg-facebook {
          position: relative;
          color: #1877f2;
          margin: auto; }

button.prm_btn {
  border: none;
  background-color: #a77950;
  color: #F4F2F1;
  display: inline-block;
  border-radius: 5px;
  outline: none; }
  button.prm_btn:hover {
    background-color: #736055;
    outline: none; }
  button.prm_btn:active {
    outline: none; }
