:root {
  --rad: 5px;
  --dur: .3s;
  --color-dark: white;
  --color-light: #aeaeb2  ;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 40px;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49); }

:root {
  --rad: 5px;
  --dur: .3s;
  --color-dark: white;
  --color-light: #aeaeb2  ;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 40px;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49); }

.cardContainer {
  margin-left: 20px; }

html {
  position: relative;
  min-height: 100%; }

.solidBackgroundHeader {
  background-color: #292828; }

.home {
  background-size: auto;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .home .carouselNfriend {
    padding-top: 20px; }
    .home .carouselNfriend .slide {
      border: 1px solid white;
      border-radius: 15px;
      overflow: hidden; }
      .home .carouselNfriend .slide a {
        border: 1px solid white; }
    .home .carouselNfriend .rightTheSlide .platform {
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      overflow: hidden;
      border-radius: 10px;
      border: 1px solid white;
      background-color: white;
      height: 256px;
      width: 100%;
      margin-bottom: 12px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      border-radius: 5px;
      overflow: hidden; }
      .home .carouselNfriend .rightTheSlide .platform h3 {
        padding: 3px; }
      .home .carouselNfriend .rightTheSlide .platform .platform-row {
        display: flex;
        flex: 1 1 auto; }
        .home .carouselNfriend .rightTheSlide .platform .platform-row .platform-link {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex: 1 1 auto;
          margin: auto;
          height: 100%;
          text-decoration: none; }
          .home .carouselNfriend .rightTheSlide .platform .platform-row .platform-link i.fab {
            transition: all 0.1s ease-in-out;
            display: flex;
            margin: auto;
            color: white; }
          .home .carouselNfriend .rightTheSlide .platform .platform-row .platform-link:hover i.fab {
            transform: scale(1.2, 1.2); }
      .home .carouselNfriend .rightTheSlide .platform .y {
        background-color: #ff0000; }
      .home .carouselNfriend .rightTheSlide .platform .f {
        width: 30px;
        background-color: #0572e6; }
      .home .carouselNfriend .rightTheSlide .platform .t {
        background: #00f3eb;
        background: linear-gradient(152deg, #00f3eb 8%, black 38%, black 50%, black 62%, #f20047 98%); }
      .home .carouselNfriend .rightTheSlide .platform .i {
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25); }
    .home .carouselNfriend .rightTheSlide .extendLink {
      background-color: rgba(255, 255, 255, 0.5);
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      border-radius: 10px;
      border: 1px solid white; }
      .home .carouselNfriend .rightTheSlide .extendLink a {
        padding: 10px;
        display: block;
        text-decoration: none;
        color: #292942;
        line-height: 50px; }
        .home .carouselNfriend .rightTheSlide .extendLink a i {
          margin-right: 20px;
          font-size: larger; }
  .home .cardCategory {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid white; }
    .home .cardCategory .cardCategoryHead {
      padding: 4px;
      background: white;
      background: linear-gradient(90deg, white 4%, white 23%, rgba(255, 255, 255, 0) 35%);
      -webkit-backdrop-filter: blur(20px);
      /* Safari 9+ */ }
    .home .cardCategory .cardContainer {
      margin-bottom: 5px; }
    .home .cardCategory .row a {
      margin-bottom: 4px; }
  .home .mt-3.container .brand .row {
    display: flex;
    padding: 0 20px; }
    .home .mt-3.container .brand .row a.card {
      max-width: 120px;
      margin: 20px; }
      .home .mt-3.container .brand .row a.card img {
        height: 75px;
        object-fit: contain; }
  .home .mt-3.container .priceRange a.btn-light {
    margin-right: 20px; }
    .home .mt-3.container .priceRange a.btn-light:hover {
      background-color: #ff3b30;
      color: white; }

.category {
  background-size: auto;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .category .container {
    background-color: rgba(255, 255, 255, 0.329);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    min-height: 100vh; }
  .category .category-heading {
    background-color: white; }
    .category .category-heading h2 {
      color: rgba(72, 72, 74, 0.5);
      margin-bottom: 0; }
  .category .subCategory a {
    display: flex;
    text-decoration: none;
    color: rgba(72, 72, 74, 0.5);
    text-align: center;
    width: 100%;
    border: 0 2px 0 0 solid gray;
    background-color: #c7c7cc;
    border-right: 1px solid darkgray; }
  .category .subCategory a.active {
    background-color: white; }
  .category .softNPagination {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid darkgray; }
    .category .softNPagination .right {
      display: flex;
      flex: 1;
      flex-direction: row-reverse; }
      .category .softNPagination .right .pagination {
        margin: auto 0;
        max-height: 38px; }
    .category .softNPagination .left {
      display: flex;
      width: 400px; }
      .category .softNPagination .left p {
        margin-bottom: 0; }
      .category .softNPagination .left a {
        margin: 10px; }
        .category .softNPagination .left a:hover {
          background-color: #007aff; }

.brandContainer {
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 200%;
  background-attachment: fixed; }
  .brandContainer .container .info {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid white; }
    .brandContainer .container .info p {
      padding: 20px; }
  .brandContainer .container .product {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 10px; }

.product-detail {
  padding-bottom: 20px;
  padding-top: 20px;
  min-height: 120vh;
  background-size: auto;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }
  .product-detail .container {
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid white; }
    .product-detail .container .product-info .col-lg-5 {
      display: flex;
      justify-content: center;
      align-items: center; }
      .product-detail .container .product-info .col-lg-5 img {
        max-width: 450px;
        border-radius: 10px; }
    .product-detail .container .giftProductList {
      padding-left: 22px;
      margin-bottom: 10px; }
      .product-detail .container .giftProductList .giftProduct {
        text-decoration: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e9e9ff;
        padding: 3px; }
        .product-detail .container .giftProductList .giftProduct p {
          margin: 0; }
        .product-detail .container .giftProductList .giftProduct img {
          padding-left: auto;
          border-radius: 3px; }
  .product-detail .fixed-bottom {
    bottom: 0;
    padding-top: 5px;
    min-height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    box-shadow: -3px 0 10px darkgray; }
    .product-detail .fixed-bottom .container {
      background-color: none;
      border: none; }
      .product-detail .fixed-bottom .container .hotline h5 {
        color: darkgray;
        text-decoration: none; }
      .product-detail .fixed-bottom .container .hotline a {
        font-size: 24px;
        font-weight: 400;
        color: #0D0D0D;
        text-decoration: none; }
      .product-detail .fixed-bottom .container .final-price {
        color: #ff3b30;
        font-size: 24px;
        letter-spacing: 1px; }
      .product-detail .fixed-bottom .container .before-price {
        font-size: 18px;
        color: #aeaeb2;
        text-decoration: line-through; }
      .product-detail .fixed-bottom .container .add2Cart {
        margin: auto;
        text-align: center; }

.shopping-cart {
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding-top: 5px;
  padding-bottom: 20px;
  min-height: 100px;
  background-color: white; }
  .shopping-cart .aProduct .infoCover .name {
    font-size: 20px;
    font-weight: bolder; }
  .shopping-cart .priceCover .price {
    color: #ff3b30;
    font-size: 24px;
    letter-spacing: 1px; }
  .shopping-cart .priceCover a {
    width: 100%; }

.shippingInfoContainer {
  overflow: hidden; }
  .shippingInfoContainer .shippingInfo {
    overflow: hidden; }
    .shippingInfoContainer .shippingInfo .iconInfo {
      display: flex;
      width: 100%;
      border-radius: 0 10px 10px 0; }
      .shippingInfoContainer .shippingInfo .iconInfo .boxIcon {
        padding: 7px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1; }
        .shippingInfoContainer .shippingInfo .iconInfo .boxIcon i {
          padding-top: 10px;
          font-size: 30px;
          color: #7395af; }
        .shippingInfoContainer .shippingInfo .iconInfo .boxIcon p {
          padding-top: 10px;
          color: #7395af; }
      .shippingInfoContainer .shippingInfo .iconInfo .confirm.done {
        background: #c4ffc9;
        background: linear-gradient(270deg, #c4ffc9 0%, white 95%); }
        .shippingInfoContainer .shippingInfo .iconInfo .confirm.done i, .shippingInfoContainer .shippingInfo .iconInfo .confirm.done p {
          color: #053b05; }
      .shippingInfoContainer .shippingInfo .iconInfo .cancel.done {
        background: #474747;
        background: linear-gradient(90deg, rgba(82, 82, 82, 0.947) 0%, white 95%); }
        .shippingInfoContainer .shippingInfo .iconInfo .cancel.done i, .shippingInfoContainer .shippingInfo .iconInfo .cancel.done p {
          color: #0e0e0e; }
      .shippingInfoContainer .shippingInfo .iconInfo .shipping.done {
        background: #a62828;
        background: linear-gradient(270deg, rgba(255, 68, 68, 0.947) 0%, white 95%); }
        .shippingInfoContainer .shippingInfo .iconInfo .shipping.done i, .shippingInfoContainer .shippingInfo .iconInfo .shipping.done p {
          color: #3b0505; }
      .shippingInfoContainer .shippingInfo .iconInfo .complete.done {
        background: #2885a6;
        background: linear-gradient(270deg, rgba(64, 189, 235, 0.947) 0%, white 95%); }
        .shippingInfoContainer .shippingInfo .iconInfo .complete.done i, .shippingInfoContainer .shippingInfo .iconInfo .complete.done p {
          color: #05253b; }

.searchContainer {
  background: #86bacd !important;
  background: linear-gradient(283deg, #86bacd 14%, #9bc6d6 100%) !important; }

@media only screen and (max-width: 991px) {
  html {
    scroll-behavior: smooth; }
  .home {
    background: #86bacd !important;
    background: linear-gradient(283deg, #86bacd 14%, #9bc6d6 100%) !important; }
    .home .splide {
      margin-bottom: 20px; }
  .brandContainer {
    background: #86bacd !important;
    background: linear-gradient(283deg, #86bacd 14%, #9bc6d6 100%) !important; }
    .brandContainer h1 a {
      text-decoration: none;
      color: white; }
    .brandContainer .contentWrap {
      flex-direction: column-reverse !important; }
      .brandContainer .contentWrap #info {
        padding-top: 50px; }
  .category .searchContainer {
    background: #86bacd !important;
    background: linear-gradient(283deg, #86bacd 14%, #9bc6d6 100%) !important; }
  .product-detail {
    background: #86bacd !important;
    background: linear-gradient(283deg, #86bacd 14%, #9bc6d6 100%) !important; }
    .product-detail .fixed-bottom {
      min-height: 64px !important; }
      .product-detail .fixed-bottom .hotline {
        display: none !important; }
      .product-detail .fixed-bottom .price p {
        margin-bottom: 0; } }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  display: flex;
  height: 62px;
  width: 100%;
  background-color: rgba(21, 43, 43, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }
  header .container .row .menu.col-2 {
    display: none; }
  header .container .row .col-lg-5.left {
    display: flex;
    padding: 0; }
    header .container .row .col-lg-5.left ul {
      margin: 0;
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-around; }
      header .container .row .col-lg-5.left ul li a {
        line-height: 50px;
        text-decoration: none;
        color: white; }
  header .container .row .col-lg-2.center {
    display: flex;
    justify-content: center; }
    header .container .row .col-lg-2.center .icon_cover {
      display: block; }
  header .container .row .col-lg-5.right {
    display: flex;
    margin: auto; }
    header .container .row .col-lg-5.right .container .row {
      display: flex;
      justify-content: center;
      align-items: center; }
      header .container .row .col-lg-5.right .container .row .col-lg-10 {
        display: flex;
        margin: 0;
        height: 35px; }
        header .container .row .col-lg-5.right .container .row .col-lg-10 .icon {
          width: 100%;
          display: flex;
          color: white;
          position: relative;
          justify-content: center; }
          header .container .row .col-lg-5.right .container .row .col-lg-10 .icon .gg-search {
            position: absolute;
            opacity: 1;
            top: 11px; }
          header .container .row .col-lg-5.right .container .row .col-lg-10 .icon .search_form {
            border-radius: 5px;
            display: flex;
            width: 100%;
            display: none; }
            header .container .row .col-lg-5.right .container .row .col-lg-10 .icon .search_form .search_input {
              padding: 0;
              background-color: transparent;
              color: white;
              border-top: #97A69C 2px solid;
              border-bottom: #97A69C 2px solid;
              outline: none;
              border: none;
              display: block;
              width: 86%;
              margin: auto;
              text-align: center;
              animation: 1s fadeIn;
              animation-fill-mode: forwards; }
            header .container .row .col-lg-5.right .container .row .col-lg-10 .icon .search_form .btn-gg-cover {
              display: flex;
              width: 28px;
              height: 28px;
              margin: 0px; }
              header .container .row .col-lg-5.right .container .row .col-lg-10 .icon .search_form .btn-gg-cover .gg-close-o {
                display: block;
                margin: auto; }
              header .container .row .col-lg-5.right .container .row .col-lg-10 .icon .search_form .btn-gg-cover .gg-arrow-right-o {
                display: block;
                margin: auto; }
      header .container .row .col-lg-5.right .container .row .col-lg-2 {
        display: flex;
        justify-content: center;
        align-items: center; }
        header .container .row .col-lg-5.right .container .row .col-lg-2 .icon {
          cursor: pointer;
          display: flex;
          margin: auto;
          justify-content: center;
          color: white;
          width: 100%;
          position: relative; }
          header .container .row .col-lg-5.right .container .row .col-lg-2 .icon::after {
            display: block;
            background-color: rgba(235, 235, 235, 0.932);
            position: absolute;
            right: 10px;
            bottom: -10px;
            border-radius: 100%;
            font-size: smaller;
            color: #0D0D0D;
            height: 20px;
            width: 20px;
            text-align: center; }

@media only screen and (max-width: 991px) {
  header .container .row {
    display: flex; }
    header .container .row .col-lg-5.left {
      display: none !important; }
    header .container .row .menu {
      display: flex !important; }
      header .container .row .menu button {
        border: none;
        background-color: transparent;
        color: white; }
      header .container .row .menu .menuOption {
        position: absolute;
        top: 100%;
        left: 0px;
        z-index: 100;
        display: flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        background-color: #292828;
        backdrop-filter: blur(10px); }
        header .container .row .menu .menuOption form {
          padding-top: 5px;
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center; }
          header .container .row .menu .menuOption form .search_input {
            flex: 1;
            padding: 0 10px;
            text-align: center;
            background-color: rgba(167, 167, 167, 0.22);
            color: white;
            border-top: #97A69C 2px solid !important;
            border-bottom: #97A69C 2px solid !important;
            margin: 10px 10px;
            height: 50px;
            border-radius: 3px;
            outline: none;
            border: none; }
        header .container .row .menu .menuOption hr {
          color: white; }
        header .container .row .menu .menuOption ul {
          list-style-type: none;
          padding: 0; }
          header .container .row .menu .menuOption ul li {
            padding-left: 20px;
            height: 50px;
            border-bottom: 1px solid grey;
            display: flex;
            width: 100%;
            align-items: center; }
            header .container .row .menu .menuOption ul li a {
              text-decoration: none;
              color: white; }
    header .container .row .center {
      display: flex;
      justify-content: space-between;
      justify-content: center;
      align-items: center;
      padding: 5px; }
      header .container .row .center .menu button {
        display: block !important; }
    header .container .row .right {
      flex: 1; }
      header .container .row .right .container {
        padding: 0; }
        header .container .row .right .container .row {
          display: flex;
          align-items: center;
          justify-content: flex-start; }
          header .container .row .right .container .row .searchFormCover {
            display: none !important; }
          header .container .row .right .container .row .cartCover {
            padding: 0;
            min-width: 50px;
            display: flex;
            justify-content: space-between; }
            header .container .row .right .container .row .cartCover a.icon {
              display: flex; } }

footer {
  background-color: #F4F2F1;
  color: #0D0D0D; }
  footer .row {
    padding-top: 10px;
    padding-bottom: 20px; }
    footer .row .col-md-3 {
      display: block; }
      footer .row .col-md-3 span {
        display: block;
        margin: auto;
        width: 100%;
        text-align: center; }
      footer .row .col-md-3 a {
        text-decoration: none;
        color: #0D0D0D;
        font-size: small; }
      footer .row .col-md-3 .col-lg-3 {
        display: flex;
        flex-direction: column; }
        footer .row .col-md-3 .col-lg-3 .icon-cover .gg-youtube {
          display: block;
          background-color: red;
          color: white;
          margin: 5px auto; }
        footer .row .col-md-3 .col-lg-3 .icon-cover .gg-facebook {
          position: relative;
          color: #1877f2;
          margin: auto; }

body .splide__slide img {
  width: 100%;
  height: 300px; }

button.prm_btn {
  border: none;
  background-color: #a77950;
  color: #F4F2F1;
  display: inline-block;
  border-radius: 5px;
  outline: none; }
  button.prm_btn:hover {
    background-color: #736055;
    outline: none; }
  button.prm_btn:active {
    outline: none; }
