extends ../layouts/common

block content

    script(src="js/store.js") 
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    //- script(src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js") 
    .container
        h1.mt-3 Danh sách cửa hàng
        .row
            select#citySelect.form-select.col-md-6(name="city" )
                option(value='') Chọn thành phố
                each city in cities
                    option(value=city._id)= city.name
            br
            select#districtSelect.form-select.mt-3.col-md-6(name="district") 
                option(value="") Chọn quận / huyện
                each district in districts 
                    option(value=district._id)= district.city
                        |- 
                        = district.name                 
        .row.mt-3#storeCardHolder
        .row#faraway.mt-5.pt-5
            h3 Mua hàng từ xa 
            p Bạn có thể mua hàng từ xa thông qua trang web chính thức của cửa hàng , gọi điện cho cửa hàng thông qua HOTLINE 
                a(href="tel:+84335670934") 0335670934
                |  cũng như trên các sàn thương mại điện tử khác như Lazada , Tiki , Shopee, chúc các bạn có một ngày làm việc vui vẻ , hiệu quả .
