extends ../layouts/common

block content
    .container
        #payment.mt-5.pt-5
            h5 Phương Thức Thanh toán 
            p Hiện tại trang web chưa có thể tích hợp phương thức thanh toán bạn có thể liên hệ với nhân viên theo số hotline nếu muốn đặt cọc , đặt trước sản phẩm , thanh toán đơn hàng trước khi đóng gói và vận chuyển.
        #care.mt-5.pt-5
            h5 Bảo hành
            p Các sản phẩm chính hãng bán ra tại cửa hàng sẽ nhận được đầy đủ bảo hành của hãng , những sản phẩm xách tay sẽ được cửa hàng bảo hành cho bạn trong 6 tháng , sau 6 tháng cửa hàng sẽ hỗ trợ các bạn sửa chữa sản phẩm 
        #quychehoatdong.mt-5.pt-5
            h5 Quy chế hoạt động 
            p Đây là quy chế hoạt động
