.margin-footer(style="display:block; width:100%;height:175px")
footer.fixed-bottom
  .container
    .row
      .col-md-3
        h6  T&igrave;m c&#x1EED;a h&agrave;ng
        a(href='') t&igrave;m c&#x1EED;a h&agrave;ng g&#x1EA7;n nh&#x1EA5;t
        br
        a(href='') Mua h&agrave;ng t&#x1EEB; xa
        h6 Ph&#x1B0;&#x1A1;ng th&#x1EE9;c thanh to&aacute;n
        a(href='') Momo
        br
        a(href='') viettelPay
      .col-md-3
        a(href='tel:+84335670934') G&#x1ECD;i mua h&agrave;ng :0335670934
        hr
        h6 K&ecirc;nh truy&#x1EC1;n th&ocirc;ng
        .row
          .col-lg-3
            link(href='https://css.gg/youtube.css' rel='stylesheet')
            a(href='https://www.youtube.com/channel/UCnplR714QjVB5h4xIEx5VKw')
              .icon-cover
                i.gg-youtube.social-icon
              span YouTube
          .col-lg-3
            link(href='https://css.gg/facebook.css' rel='stylesheet')
            a(href='https://www.facebook.com/1011.chibao')
              .icon-cover
                i.gg-facebook
              span Facebook
          .col-lg-3
          .col-lg-3
      .col-md-3
        a(href='') Tra Th&ocirc;ng tin b&#x1EA3;o h&agrave;nh
        br
        a(href='') Tra &dstrok;i&#x1EC3;m MasterPoint
      .col-md-3
        a(href='') Quy ch&#x1EBF; ho&#x1EA1;t &dstrok;&#x1ED9;ng
        br
        a(href='') Ch&iacute;nh s&aacute;ch b&#x1EA3;o h&agrave;nh
