@import "./color";
.cardContainer{
                margin-left: 20px;
            }
.home{
    
    background-size: auto;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .carouselNfriend{
        padding-top: 20px;
        .slide{
            border-radius: 15px;
            overflow: hidden;
        }
        .col-md-4{
            // margin-left: 6px;
            // padding: 12px;
            
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            background-color: rgba(255, 255, 255, 0.5);         
            overflow: hidden;
            border-radius: 10px;
            border : 1px solid white;
            h3{
                padding: 3px;
            }
            .platform{
                background-color: white;
                height: 256px;
                width: 100%;
                margin-bottom: 12px;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                flex:1 1 auto;
                border-radius: 5px;
                overflow: hidden;
                .platform-row{
                    display: flex;
                    flex: 1 1 auto;
                    .platform-link{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        flex: 1 1 auto;
                        margin: auto;
                        height: 100%;
                        text-decoration: none;
                        i.fab{
                            transition: all 0.5s ease-in-out;
                            display: flex;
                            margin: auto;
                            color: white;
                        }
                        &:hover i.fab{
                            transform: scale(1.4,1.4);
                            
                        }
                    }
                }
                .y{
                    background-color: #ff0000;
                }
                .f{
                    width: 30px;
                    background-color: #0572e6;
                }
                .t{
                    
                    
                    background: rgb(0,243,235);
                    background: linear-gradient(152deg, rgba(0,243,235,1) 8%, rgba(0,0,0,1) 38%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 62%, rgba(242,0,71,1) 98%);
                }
                .i{
                    background: #d6249f;
                    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
                }
            }
        }

    }
    .cardCategory{
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.5);         
        overflow: hidden;
        border-radius: 10px;
        border : 1px solid white;
        .cardCategoryHead{
            padding: 4px;
            background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,1) 4%, rgba(255,255,255,1) 23%, rgba(255,255,255,0) 35%);
            -webkit-backdrop-filter: blur(10px); /* Safari 9+ */
            
        }
        .cardContainer {
            margin-bottom: 5px;         
        }
        .row{
            a{
                margin-bottom: 4px;
            }
        }
    }
    
    .mt-3.container{
        .brand{
            
            a.card{
                max-width: 120px;
                img{
                    height: 75px;
                    object-fit: contain;
                }
            }
            
        }
        .priceRange{
            a.btn-light{
                margin-right: 20px ;
                &:hover{
                    background-color: $systemRed;
                    color : white;
                }
            }
        }
    }
}
.category{
    background-size: auto;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    h2{
    }
    .container{
        background-color: rgba(255, 255, 255, 0.329);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        min-height: 100vh;
    }
    .category-heading{
        background-color: white;
        h2{
            color: $systemGrayDark2;
            margin-bottom: 0;
        }

    }
    .subCategory{
        a{
            display: flex;
            text-decoration: none;
            color: $systemGrayDark2;
            text-align: center;
            width: 100%;
            border: 0 2px 0 0 solid gray;
            background-color: $systemGrayLight2;
            border-right: 1px solid darkgray;
        }
        a.active{
            background-color: white;
        }
    }
    .softNPagination{
        background-color: white;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid darkgray;
        .right{
            display: flex;
            flex: 1;
            flex-direction: row-reverse;
            .pagination{
                margin: auto 0;
                max-height: 38px;

            }
        }
        .left{
            display: flex;
            width: 400px;
            p {
                margin-bottom: 0;
            }
            
            
            a{
                margin:  10px;
                i{
                }
                &:hover{
                    background-color: $systemBlue;
                }
            }
        }
        
        
    }

}
.brandContainer{
    background-repeat: no-repeat;
    background-size: 100% ;
    min-height: 200%;
    background-attachment: fixed;
    .container{
        h1{
            
        }
        .info{
            background-color: rgba(255, 255, 255, 0.8);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            border-radius: 10px;
            border : 1px solid white;
            p{
                padding: 20px;
            }
        }
        .product{
            background-color: rgba(255, 255, 255, 0.8);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            border-radius: 10px;
        }
    }
}
.product-detail{
    min-height: 120vh;
    
    .product-info{
        .col-md-5{
            img{
                max-width: 450px;
            }
        }
    }
    .fixed-bottom {
        padding-top: 5px;
        min-height: 100px ;
        background-color: white;
        box-shadow: -3px 0 10px darkgray;
        .hotline{
            h5{
                color: darkgray;
                text-decoration: none;
            }
            a{
                font-size:24px ;
                font-weight: 400;
                color: $wooden-black;
                text-decoration: none;
            }
        }
        .final-price{
            color: $systemRed;
            font-size: 24px;
            letter-spacing: 1px;
        }
        .before-price{
            font-size: 18px;
            color: $systemGrayLight1;
            text-decoration:line-through;
        }
        .add2Cart{
            margin: auto;
            text-align: center;
        }
    }
}
