
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}



header{
    @include flexCenter;
    display: flex;
    height: 62px;
    width: 100%;
    background-color: rgba(21, 43, 43, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
    .container{
        .row{
            .menu.col-2{
                display: none;
            }
            .col-lg-5.left{
                display: flex;
                padding: 0;
                ul{
                    margin: 0;
                    width: 100%;
                    list-style: none;
                    display: flex;
                    justify-content: space-around;
                    li{
                        a{
                            line-height: 50px;
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
            .col-lg-2.center{
                
                display: flex;
                justify-content: center;
                .icon_cover{
                    display: block;
                    
                }
            }
            .col-lg-5.right{
                display: flex;
                margin: auto;
                .container{
                    .row{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .col-lg-10{
                            display: flex;
                            margin: 0;
                            height: 35px;
                            .icon{
                                width: 100%;
                                display: flex;
                                color: white;
                                position: relative;
                                justify-content: center;
                                .gg-search{
                                    position: absolute;
                                    opacity: 1;
                                    top: 11px;

                                }
                                .search_form{
                                    border-radius: 5px;
                                    display: flex;
                                    width: 100%;
                                    display: none;
                                    .search_input{
                                        padding: 0;
                                        background-color: transparent;
                                        color: white;
                                        border-top: $wooden1 2px  solid;
                                        border-bottom: $wooden1 2px  solid;
                                        outline: none;
                                        border: none;
                                        display: block;
                                        width: 86%;
                                        margin: auto;
                                        text-align: center;
                                        animation: 1s fadeIn;
                                        animation-fill-mode: forwards;
                                    }
                                    .btn-gg-cover{
                                        display: flex;
                                        width: 28px;
                                        height: 28px;
                                        margin: 0px;
                                        .gg-close-o{
                                            display: block;
                                            margin: auto;
                                        }
                                        .gg-arrow-right-o{
                                            display: block;
                                            margin: auto;
                                        }
                                    }
                                }
                            }
                        }
                        .col-lg-2{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .icon{
                                cursor: pointer;
                                display: flex;
                                margin: auto;
                                justify-content: center;
                                color: white;  
                                width: 100%;
                                position: relative;
                                &::after{
                                    // content: "iii";
                                    display: block;
                                    background-color: rgba(235, 235, 235, 0.932);
                                    position: absolute;
                                    right: 10px;
                                    bottom: -10px;
                                    border-radius: 100%;
                                    font-size: smaller;
                                    color: $wooden-black;
                                    height: 20px;
                                    width: 20px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}
@media only screen and ( max-width : 991px ){
    header{
        .container{
            .row{
                display: flex;
                .col-lg-5.left{
                    display: none!important;
                    
                }
                .menu{
                    
                    display: flex!important;
                    button{
                        border: none;
                        background-color: transparent;
                        color: white;
                    }
                    .menuOption{
                        position: absolute;
                        top: 100%;
                        left: 0px;
                        z-index: 100;
                        display: flex;
                        width: 100vw;
                        height: 100vh;
                        flex-direction: column;
                        background-color: rgb(41, 40, 40);
                        backdrop-filter: blur(10px);
                        form{
                            padding-top: 5px;
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            .search_input{
                                flex: 1;
                                padding: 0 10px;
                                text-align: center;
                                background-color: rgba(167, 167, 167, 0.22);
                                color: white;
                                border-top: $wooden1 2px  solid !important;
                                border-bottom: $wooden1 2px  solid !important;
                                margin: 10px 10px;
                                height: 50px;
                                border-radius: 3px;
                                outline: none;
                                border: none;
                            }
                            
                        }
                        hr{
                            color: white;
                        }
                        ul{
                            list-style-type: none;
                            padding: 0;
                            li{
                                padding-left: 20px;
                                height: 50px;
                                border-bottom: 1px solid grey;
                                display: flex;
                                width: 100%;
                                align-items: center;
                                a{
                                    text-decoration: none;
                                    color: white;
                                }
                            }
                        }
                    }
                }
                .center{
                    display: flex;
                    justify-content: space-between;
                    justify-content: center;
                    align-items: center;
                    .menu{
                        button{
                            display: block!important;
                        }

                    }
                    padding: 5px;
                }
                .right{
                    flex: 1 ;
                    .container{
                        padding: 0;
                        .row{
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            .searchFormCover{
                                display: none!important;
                            }
                            .cartCover{
                                padding: 0;
                                min-width: 50px;
                                a.icon{
                                    display: flex;
                                }
                                display: flex;
                                justify-content: space-between;
                            }
                        }
                    }
                }
            }
        }
    }
}   