@import 'color';

@import 'content';

@import 'header';

@import 'footer';

body{
    // background: rgb(63,94,251);
    // background: linear-gradient(48deg, rgba(63,94,251,1) 0%, rgba(46,227,216,1) 100%);
    
}

button.prm_btn {
    border: none;
    background-color: $wooden3;
    color:$wooden-light;
    display: inline-block;
    border-radius: 5px;
    outline: none;
    &:hover{
        background-color: $wooden4;
        outline: none;
    }
    &:active{
        outline: none;
    }
    
}

